.cart-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.cart {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  font-family: inherit;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.cart-item {
  position: relative;
  background-color: #A1E4A3;
  width: 150px;
  height: 150px;
  overflow: hidden;
  border: 2px solid grey;
  border-radius: 5px;
  margin-right: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.actions {
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}

.logout-btn {
  margin-right: 10%;
}

.cart-info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cart-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
}

.noItemsMassage {
  margin: 0 auto;
}

.mat-h1,
.mat-h2 {
  margin: 0 auto;
  margin-bottom: 1.5%;
}